<div class="page-container">
<div class="nav-bar">
    <div class="objects">
        <div class="logo-img" > <img src="/assets/img/logo_white.png" [routerLink]="['/countries']"> </div>
        <p class="user">Hi, John</p>
        <mat-icon class="white-icon">account_circle</mat-icon>
    </div>
</div>
    
<div class="bread-crumbs">
    <a href="/countries" class="breadcrumb-link">HomePage</a>-><span class="current-page">DescriptionPage</span>
</div>

<div class="title-page">{{ countryData.name.common }}</div> 

<div class="img-gallery">
    <div class="row1">
            <div class="col11"></div>
            <div class="col21"></div>
    </div>
    <div class="row2">
            <div class="col1"></div>
            <div class="col2"></div>
            <div class="col3"></div>
            
    </div>
</div>

<div class="details">
    <div class="info">
        <h2>Information</h2>
        <p data-bold-text="Code">Code: 0000</p>
        <p data-bold-text="Currency">Currency: lebanese lira</p>
        <p data-bold-text="Language">{{ countryData?.lang }}</p>
        <p data-bold-text="Capital City">{{ countryData?.capital }}</p>
        <p data-bold-text=" Calling Code">Calling Code: +961</p>
        <p data-bold-text="Region">{{ countryData?.region }}</p>
    </div>
    <div class="flag" [style.background-image]="'url(' + countryData?.flags.png + ')'"></div>
</div>

<div class="border-countries">
    <h1 class="border-title">Border Countries</h1>
    <div class="countries-list">
        <div class="countries-block">
            <div class="flag2"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
            <div class="text2">
              <div class="country2">Lebanon</div>
              <div class="region">Asia</div>  
            </div>
          </div>
        <div class="countries-block">
          <div class="flag2"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
          <div class="text2">
            <div class="country2">Lebanon</div>
            <div class="region">Asia</div>  
          </div>
        </div>
        <div class="countries-block">
            <div class="flag2"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
            <div class="text2">
                <div class="country2">Lebanon</div>
                <div class="region">Asia</div>  
            </div>
        </div>
    
    </div>
</div>
</div>