.page-container{
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    overflow: auto;
}
.nav-bar{
    background-color: #3C73CB;
    width: 100%;
    height: 8%;
    position: absolute;
}

.objects{
    display: flex; /* Use Flexbox */
   //align-items: center; /* Vertically center align items */
    flex-direction: row;
   
}


  .logo-img {   
    padding-left: 3% ;
   // padding-bottom: 4.5%;
   padding-top: 1%;
  }

.user{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 74%;
    padding-top: 1.5%;


}
.white-icon{
    padding-left: 2%;
    color: #f4f4f4;
    padding-top: 1.6%;
}
.bread-crumbs{
    padding-top: 6%;
    padding-left: 3%;
    
}
.breadcrumb-link{
    text-decoration: none;
    color: black;
}
.breadcrumb-link:hover{
   font-weight: bold;

}
.current-page{
    color: #3C73CB;
}
.title-page{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.img-gallery{
   margin-top: 3%;
   height: 40%;
}

.row1{
    
    width: 70%;
    height: 50%;
    margin-left: 15%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 1.4%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
}

.col11{
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    border-top-left-radius: 14px;
    background-color: gray;

}
.col21{
    background-image: url("/assets/img/plane.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    border-top-right-radius: 14px;

}
.row2{
    height: 50%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */

}
.col1{
    background-image: url("/assets/img/baalbek.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    border-bottom-left-radius: 14px;
  
    
}

.col2{
    background-image: url("/assets/img/harissa.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    
   
    
}
.col3{
    background-image: url("/assets/img/rauche.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 14px;
    border-color: #3C73CB;
    border-width: 2px;
    
    
}
.details{
    width: 70%;
    height: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    margin-left: 15%;
    margin-bottom: 5%;
  

}
.info{
    width: 50%;
    height: 90%;
    background-color: #EAEDF2;
    text-align: left;
    padding: 20px;
    position: relative;

   

}
.info-row {
    display: flex;
    flex-direction: row; /* Display items in a row */
    align-items: center; /* Center items vertically within the row */
    margin-bottom: 6px; /* Add spacing between rows */
  }

  
  .info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10%; /* Add spacing between items */
  }
.flag{
    
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    background-repeat: no-repeat;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    margin-left: 14%;
    margin-top: 8%;
}
h2{
    margin-left: 40%;
    text-align: center;
    color: #3C73CB;
    margin-bottom: 5%;
   
} p{
    margin: 0;
    //margin-bottom: 8%;
    font-size: 18px;
    margin-left: 3%;
    width: 100%;
}
.info p::before {
    font-weight: bold;
    content: attr(data-bold-text) ": ";
}
 .border-countries{
    height: 20%;
    width: 100%;
   
 }
 .border-title{
    margin-left: 15%;
    margin-top: 3%;
 }

.countries-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; /* Adjust as needed */
   margin-left: 15%;
   margin-right: 15%;
   flex-direction: row;
   margin-top: 1%;
  
  }
  
  .countries-block{
   background-color:white;
   width: 30%;
   height: 5%;
   border-radius: 10px;
   display: flex;
   
  
   //float: left;
   
  }
  
  .countries-block:hover {
  
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties */
  }
  .flag2 img {
    width: 80px;
    height: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 26px;
    padding:20%;
  }
  
  .text2 {
      padding-left: 12%;
      padding-top: 5%;
      padding-bottom: 4%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align content to the left vertically */
  }
  .country2{
    padding-bottom: 14%;
    font-weight: bold;
  }
  .transparent-input {
    background-color: transparent;
    border: none;
    outline: none; /* Remove outline when focused */
    width: 400px;
    font-size: 16px;


  }
  .heading{
    display: flex;
    flex-direction: row;
  }
  .edit-icon{
    margin-left: 36%;
  }
  .filled-input{

    border-color: #3C73CB;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 1.5%;
    position: absolute;
    right: 0;
    margin-right: 5%;
  }
  .save{
    background-color: #3C73CB;
    color:white;
    padding: 2%;
    margin-left: 66%;
   
    border-radius: 5px;
    width: 200px;
    border-style: none;
  }
  .save:hover{
   background-color: #3d8d7b;
  }

  .plus-icon{
    font-size: 200px;
    color: #EAEDF2;
    height: 200px;
    width: 200px;
    margin-left: 25%;
  }

  .countries-list{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between; /* Adjust as needed */
   margin-top: 3%;
   margin-left: 15%;
   margin-right: 10%;
  
  }
  
  .countries-block{
   background-color:white;
   width: 30%;
   height: 5%;
   border-radius: 10px;
   display: flex;
   margin-top: 5%;
  
   //float: left;
   
  }
  
  .countries-block:hover {
  
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties */
  }
  .flag11 img {
    width: 80px;
    height: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 26px;
    padding:20%;
  }
  
  .text11 {
      padding-left: 12%;
      padding-top: 5%;
      padding-bottom: 4%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align content to the left vertically */
  }
  .country11{
    padding-bottom: 14%;
    font-weight: bold;
  }
  

  @media (max-width: 1200px) {

    .flag{
    
      background-size: cover; /* Image will cover the entire div */
      background-position: center; /* Center the image within the div */
      background-repeat: no-repeat;
      height: 300px;
      width: 300px;
      border-radius: 50%;
      margin-left: 4%;
      margin-top: 8%;
  }
  .user{
    color: #f4f4f4;
    font-size: 16px;
    padding-left: 70%;
    padding-top: 2%;


}
.filled-input{

  border-color: #3C73CB;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
  padding: 1.5%;
  right: 0;
  margin-right: 5%;

}
p{
  padding-bottom: 15%;
  font-size: 18px;
  margin-left: 3%;
  width: 100%;
}
.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 0%; /* Add spacing between items */
}
.save{
  background-color: #3C73CB;
  color:white;
  padding: 2%;
  margin-left: 52%;
 
  border-radius: 5px;
  width: 200px;
  border-style: none;
}
.info{
  width: 50%;
  height: 110%;
  background-color: #EAEDF2;
  text-align: left;
  padding: 20px;
  position: relative;

 

}
.border-countries{
  height: 20%;
  width: 100%;
  margin-top: 9%;
 
}
.plus-icon{
font-size: 200px;
color: #EAEDF2;
height: 200px;
width: 200px;
margin-left: 12%;
}

  }