.page-container{
    height: 100%;
    width: 100%;
    background-color: #f4f4f4;
    overflow: auto;
}
.nav-bar{
    background-color: #3C73CB;
    width: 100%;
    height: 8%;
    position: absolute;
}

.objects{
    display: flex; /* Use Flexbox */
   //align-items: center; /* Vertically center align items */
    flex-direction: row;
   
}


  .logo-img {   
    padding-left: 3% ;
   // padding-bottom: 4.5%;
   padding-top: 1%;
  }

.user{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 74%;
    padding-top: 1.5%;


}
.white-icon{
    padding-left: 2%;
    color: #f4f4f4;
    padding-top: 1.6%;
}
.bread-crumbs{
    padding-top: 6%;
    padding-left: 3%;
    
}
.breadcrumb-link{
    text-decoration: none;
    color: black;
}
.breadcrumb-link:hover{
   font-weight: bold;

}
.current-page{
    color: #3C73CB;
}
.title-page{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.img-gallery{
   margin-top: 3%;
   height: 40%;
}

.row1{
    
    width: 70%;
    height: 50%;
    margin-left: 15%;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 1.4%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
}

.col11{
    background-image: url("/assets/img/sunset.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    border-top-left-radius: 14px;

}
.col21{
    background-image: url("/assets/img/plane.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    border-top-right-radius: 14px;

}
.row2{
    height: 50%;
    width: 70%;
    margin-left: 15%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */

}
.col1{
    background-image: url("/assets/img/baalbek.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    border-bottom-left-radius: 14px;
  
    
}

.col2{
    background-image: url("/assets/img/harissa.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    margin-right: 2%;
    
}
.col3{
    background-image: url("/assets/img/rauche.jpg");
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 14px;
    
}
.details{
    width: 70%;
    height: 50%;
    margin-top: 5%;
    display: flex;
    flex-direction: row; /* Arrange items horizontally */
    margin-left: 15%;
  

}
.info{
    width: 50%;
    height: 90%;
    background-color: #EAEDF2;
    text-align: left;
  
 
    padding: 20px;

}
.flag{
    
    background-size: cover; /* Image will cover the entire div */
    background-position: center; /* Center the image within the div */
    background-repeat: no-repeat;
    height: 340px;
    width: 340px;
    border-radius: 50%;
    margin-left: 14%;
    margin-top: 8%;
}
h2{
    text-align: center;
    color: #3C73CB;
    margin-bottom: 4%;
} p{
    margin: 0;
    margin-bottom: 6%;
    font-size: 18px;
    margin-left: 3%;
}
.info p::before {
    font-weight: bold;
    content: attr(data-bold-text) ": ";
}
 .border-countries{
    height: 20%;
    width: 100%;
   
 }
 .border-title{
    margin-left: 15%;
    margin-top: 3%;
 }

.countries-list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between; /* Adjust as needed */
   margin-left: 15%;
   margin-right: 15%;
   flex-direction: row;
   margin-top: 1%;
  
  }
  
  .countries-block{
   background-color:white;
   width: 30%;
   height: 5%;
   border-radius: 10px;
   display: flex;
   
  
   //float: left;
   
  }
  
  .countries-block:hover {
  
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties */
  }
  .flag2 img {
    width: 80px;
    height: 80px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    border-radius: 26px;
    padding:20%;
  }
  
  .text2 {
      padding-left: 12%;
      padding-top: 5%;
      padding-bottom: 4%;
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Align content to the left vertically */
  }
  .country2{
    padding-bottom: 14%;
    font-weight: bold;
  }