<div class="container">

    <div class="bg-img">
    <div class="nav-bar">  
        <div class="objects">
            <div class="logo-img"  > <img src="/assets/img/logo_white.png" > </div>
            <p>Hi, John</p>
            <mat-icon class="white-icon">account_circle</mat-icon>
        </div>


        <input class="search-input" type="search" placeholder="Search country" required>

    </div>
      
    </div>

    <div class="countries-list">
    <div class="countries-block" (click)="navigateToNewPage()">
    <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
    <div class="text">
    <div class="country">Lebanon</div>
    <div class="region">Asia</div>  
    </div>
    </div>
    <div class="countries-block">
      <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
      <div class="text">
      <div class="country">Lebanon</div>
      <div class="region">Asia</div>  
      </div>
      </div>
      <div class="countries-block">
        <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
        <div class="text">
        <div class="country">Lebanon</div>
        <div class="region">Asia</div>  
        </div>
        </div>
        
  


    <div class="countries-block">
    <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
    <div class="text">
    <div class="country">Lebanon</div>
    <div class="region">Asia</div>  
    </div>
    </div>
    <div class="countries-block">
      <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
      <div class="text">
      <div class="country">Lebanon</div>
      <div class="region">Asia</div>  
      </div>
      </div>
      <div class="countries-block">
        <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
        <div class="text">
        <div class="country">Lebanon</div>
        <div class="region">Asia</div>  
        </div>
        </div>
        


    <div class="countries-block">
    <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
    <div class="text">
    <div class="country">Lebanon</div>
    <div class="region">Asia</div>  
    </div>
    </div>
    <div class="countries-block">
      <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
      <div class="text">
      <div class="country">Lebanon</div>
      <div class="region">Asia</div>  
      </div>
      </div>
      <div class="countries-block">
        <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
        <div class="text">
        <div class="country">Lebanon</div>
        <div class="region">Asia</div>  
        </div>
        </div>
        
 
 
    <div class="countries-block">
    <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
    <div class="text">
    <div class="country">Lebanon</div>
    <div class="region">Asia</div>  
    </div>
    </div>
    <div class="countries-block">
      <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
      <div class="text">
      <div class="country">Lebanon</div>
      <div class="region">Asia</div>  
      </div>
      </div>
      <div class="countries-block">
        <div class="flag"><img src="/assets/img/Flag_of_Lebanon.png"> </div>
        <div class="text">
        <div class="country">Lebanon</div>
        <div class="region">Asia</div>  
        </div>
        </div>

      </div>
        
    </div>
  