<div class="container">
<div class="logo-img" > <img src="/assets/img/logo_blue.png"> </div>
<div class="form-container">
    <h1 class="h1">Log in</h1>
    <span class="span">Don't have an account? <a class="signup-link" href="#">Sign up</a></span>
    <form class ="login-container">
        <input class="login-input" type="email" placeholder="Email" required>
        <input class="login-input" type="password" placeholder="Password" required>
        <button class="login-button" type="submit">Login</button>
    </form>



</div>
<div class="bg-img"></div>

</div>