

.container{
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    overflow:auto;

}
.bg-img {
    /* The image used */
    background-image: url("/assets/img/countries-list.jpg");
    height: 36vh; 
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
  }
  .nav-bar {
 
    background-color: rgba(0, 0, 0, 0.4); /* Black color with some opacity */
    height: 36vh;;
    
    
  
}
.objects{
    display: flex; /* Use Flexbox */
    align-items: center; /* Vertically center align items */
   
}


  .logo-img {   
    padding: 3% 
  }

p{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 74%;
}
.white-icon{
    padding-left: 2%;
    color: #f4f4f4;;
}

.search-input {
  width: 30%; /* Adjust the width as needed */
  padding: 1%;
  border-radius: 12px;
  background-color: white;
  border-style: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  margin-left: 35%;
  margin-top: 9.8%;
}

.input-wrapper {
  position: relative; /* Set the input wrapper as a relative position container */
}

.clickable-icon {
  font-size: 26px; /* Icon size */
  position: absolute; /* Set the icon as an absolute position element */
  right: 34%; /* Adjust the right offset as needed */
  top: 100%; /* Vertically center the icon */
  transform: translateY(-50%); /* Adjust to vertically center the icon */
  cursor: pointer;
  color: #666; /* Default icon color */
}

.filter{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  background-color: #3C73CB;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
  position: absolute; /* Set the icon as an absolute position element */
  right: 3%; /* Adjust the right offset as needed */
  top: 92.5%; /* Vertically center the icon */
  border-radius: 50%;
}
.filter-form{
  background-color: #f4f4f4;  
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  height: 280px;
  width: 200px;
  position: absolute; /* Set the icon as an absolute position element */
  right: 4%; /* Adjust the right offset as needed */
  top: 107% ;
  border-radius: 10%;

}
h3{
  color: #3C73CB;
  top: 50%;
}
.content{
  display: flex;
  flex-direction: column;
}
.filter-button {
  height: 30px;
  width: 150px;
  background-color: #3C73CB;
  color: #f4f4f4;
  border-style: none;
  border-radius: 20px;
  margin-top: 20%;
}


.clickable-icon:hover {
  color: #3C73CB; /* Icon color on hover */
}


.countries-list{
  display: flex;
 flex-wrap: wrap;
 justify-content: space-between; /* Adjust as needed */
 margin-top: 3%;
 margin-left: 10%;
 margin-right: 10%;

}

.countries-block{
 background-color:white;
 width: 30%;
 height: 5%;
 border-radius: 10px;
 display: flex;
 margin-top: 5%;

 //float: left;
 
}

.countries-block:hover {

  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Adjust the shadow properties */
}


 
 



.flag img {
  width: 80px;
  height: 80px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 26px;
  padding:20%;
}

.text {
    padding-left: 12%;
    padding-top: 5%;
    padding-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left vertically */
}
.country{
  padding-bottom: 14%;
  font-weight: bold;
}
@media (max-width: 1700px) {
  p{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 70%;
}
.white-icon{
    padding-left: 4%;
    color: #f4f4f4;;
}

}
@media (max-width: 1500px) {
  p{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 68%;
}
.white-icon{
    padding-left: 4%;
    color: #f4f4f4;;
}

}
@media (max-width: 1200px) {
  p{
    color: #f4f4f4;
    font-size: 24px;
    padding-left: 65%;
}
.white-icon{
    padding-left: 4%;
    color: #f4f4f4;;
}
.search-input {
  width: 30%; /* Adjust the width as needed */
  padding: 1%;
  border-radius: 12px;
  background-color: white;
  border-style: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  margin-left: 35%;
  margin-top: 14.5%;
}

}
@media (max-width: 1000px) {
  p{
    color: #f4f4f4;
    font-size: 20px;
    padding-left: 60%;
}
.white-icon{
    padding-left: 4%;
    color: #f4f4f4;;
}
.search-input {
  width: 30%; /* Adjust the width as needed */
  padding: 1%;
  border-radius: 12px;
  background-color: white;
  border-style: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  margin-left: 35%;
  margin-top: 19%;
}

}
@media (max-width: 800px) {
  p{
    color: #f4f4f4;
    font-size: 20px;
    padding-left: 55%;
}
.white-icon{
    padding-left: 4%;
    color: #f4f4f4;;
}
.search-input {
  width: 30%; /* Adjust the width as needed */
  padding: 1%;
  border-radius: 12px;
  background-color: white;
  border-style: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Drop shadow effect */
  margin-left: 35%;
  margin-top: 18%;
}

}
