  <div class="form-container">
        <h1 class="h1">Create new account</h1>
        <span class="span">Already a member? <a class="signup-link" [routerLink]="['']">Log in</a></span>
        <form class ="login-container">
            <div class="name-fields">
                <input class=" name-input" type="text" placeholder="First Name" required>
                <input class=" name-input" type="text" placeholder="Last Name" required>
              </div>
            <input class="login-input" type="email" placeholder="Email" required>
            <input class="login-input" type="password" placeholder="Password" required>
            <label>
                <input  type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Create Admin account
              </label>
            <label>
              <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> I agree to the terms and conditions as out by the user agreement.  
            </label>  
            <label class="checkbox" >By clicking here, I state that I have read and understood the terms and conditions.</label>
            <button class="login-button" type="submit">Sign up</button>

        </form>

    
    
    
    </div>
